html, body {
  font-family: 'Exo 2', Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(0, 0, 0, .65);
  padding: 16px;
  /* background-color: #fff; */ /* overrides commandline option -b */
}
/* fix for mermaid.cli #3 - uncomment to get png width option working */
/* #container > svg {
    max-width: 100% !important;
}*/
