/*
 * Mermaid has built-in font and edge-animation options, but this is just
 * an example of how you can use custom CSS.
 */

.flowchart-link {
  animation: dash 30s linear infinite;
}

.label {
  font-family: "fantasy" !important;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  10% {
    /* No animation for the first 10% for consistent visual testing screenshots */
    stroke-dashoffset: 1000;
  }
  100% {
  }
}
