name: 'Build, test and deploy mermaid-cli Docker image'
on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest

    env:
      DOCKERFILE: DockerfileBuild
      IMAGENAME: mermaid-cli
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 2

    - name: Convert repository name to lower case
      run: echo "::set-env name=GITHUB_REPOSITORY_LOWER_CASE::$(echo $GITHUB_REPOSITORY | tr '[:upper:]' '[:lower:]')"

    - name: Get release version
      run: echo ::set-env name=RELEASE_VERSION::$(echo ${GITHUB_SHA:6})

    - name: Create image tag
      run: echo "::set-env name=IMAGETAG::${{env.GITHUB_REPOSITORY_LOWER_CASE}}/$IMAGENAME:${{env.RELEASE_VERSION}}"

    - name: Docker build
      run: docker build -t ${{env.IMAGETAG}} . -f $DOCKERFILE
 
    - name: Test if the CLI actually works
      run: for i in $(ls test/*.mmd); do docker run -v $(pwd):/data ${{env.IMAGETAG}} -i /data/$i; done

    # For manual inspection of the generated artifacts
    - uses: actions/upload-artifact@v1
      with:
        name: output
        path: ./test

    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: ${{env.GITHUB_REPOSITORY_LOWER_CASE}}/${{env.IMAGENAME}}
        username: $GITHUB_ACTOR
        password: ${{ secrets.GITHUB_TOKEN }}
        registry: docker.pkg.github.com
        dockerfile: $DOCKERFILE
        snapshot: true
        tags: "latest,${{ env.RELEASE_VERSION }}"

    